@import "check";

@mixin clearfix{
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

@mixin for_mobile(){
    @media screen and (max-width: 80em){
        @content;
    }
}


.cs-hide {
    visibility: hidden;
    height: 0px;
    display: block;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.cs-clear{
    clear: both;
}

$boder: 1px solid #e5e5e5;

.wp-filter {
    display: inline-block;
    position: relative;
    margin: 12px 0 25px;
    padding: 0;
    width: 100%;
    border-bottom: $boder;
    box-sizing: border-box;
    .filter-count {
        display: none;
        vertical-align: middle;
        min-width: 4em;
        .count {
            display: inline-block;
            position: relative;
            top: -1px;
            padding: 4px 10px;
            border-radius: 30px;
            background: #72777c;
            color: #fff;
            font-weight: 600;
        }
    }
    .search-form {
        float: right;
        margin: 0px;
        @include for_mobile(){
            display: none;
        }
        input[type=search] {
            margin: -3px 0 0;
            padding: 3px 5px;
            width: 160px;
            max-width: 100%;
            font-weight: 300;
            line-height: 1.5;
            -webkit-appearance: textfield;
            border: $boder;
            box-shadow: none;
            background: transparent;
        }
    }

    .filter-links {
        display: inline-block;
        margin: 0;
        @include for_mobile(){
            float: none;
            width: 100%;
            margin-bottom: 10px;
        }
        li {
            display: inline-block;
            margin: 0px 10px;
            &:last-child {
            }
            &:first-child {
                margin-left: 0px;
            }
            > a {
                padding: 0px 0 15px;
                @include for_mobile(){
                    padding-bottom: 5px;
                }
                border-bottom: 2px solid transparent;
                color: #666;
                cursor: pointer;
                display: inline-block;
                &:hover {
                    text-decoration: none;
                }
                &.current {
                    border-bottom-color: #e5e5e5;
                }
            }
        }
    }
}

#customify-sites-listing-outer {
    min-height: 350px;
    display: block;
    &.cs-hide-desc {
        .theme-desc {
            display: none;
        }
    }
}
.theme-browser {
    .themes {
        clear: both;
        transition: all .2s ease;
        .cs-site {
            margin-bottom: 30px;
            transition: all .2s ease;
        }
    }
}

.theme-browser .theme {
    cursor: pointer;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    .theme-screenshot {
        display: block;
        overflow: hidden;
        position: relative;
        -webkit-backface-visibility: hidden;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
        &:after {
            content: "";
            display: block;
            padding-top: 100%;
        }
        img {
            height: auto;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            transition: opacity .2s ease-in-out;
        }
    }
    .theme-id-container {
        position: relative;
        margin-top: 15px;
    }
    .theme-name {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
.cs-left {
    float: left;
}
.cs-right {
    float: right;
}
.cs-50 {
    width: 50%;
}
.cs-loading-text {
    text-align: center;
    width: 100%;
    align-items: center;
    display: none;
    padding: 30px;
}

 .cs-loading-icon {
    text-align: center;
    line-height: 1;
     display: block;
     padding-bottom: 30px;
    svg {
        margin: 0 auto;
    }
}
body.loading-content {
    #customify-sites-no-demos {
        display: none;
    }
    .cs-loading-text {
        display: block;
    }
    .no-themes {
        display: none;
    }
    #customify-sites-listing {
        display: none;
    }
}

.no-themes {
    visibility: hidden;
    height: 0px;
    display: block;
    overflow: hidden;
    margin: 0px;
    p {
        padding: 2em 0px;
    }
    text-align: center;
}
body.no-results{
    .no-themes {
        visibility: visible;
        height: auto;
        display: block;
    }
}

// Preview
body.cs-previewing-site{
    overflow: hidden !important;
}
#customify-site-preview {
    position: fixed;
    z-index: 99999999;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: block;
    transition: width .4s linear;
    &.cs-hide {
        display: none;
        z-index: -1;
    }
    background: #fff;
    * {
        box-sizing: border-box;
    }
    .cs-iframe-outer {
        position: absolute;
        top: 0px;
        width: 100%;
        bottom: 50px;
        display: block;
        background: #e5e5e5;
        .cs-iframe {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;

            display: block;
            overflow-x: hidden;
            transition-property: left,right,top,bottom,width,margin, background;
            transition-duration: .2s;

            &[data-device="tablet"] {
                margin: auto 0 auto -360px;
                width: 720px;
                height: 1080px;
                max-height: 100%;
                max-width: 100%;
                left: 50%;
                right: auto;
            }
            &[data-device="phone"] {
                margin: auto 0 auto -207px;
                width: 414px;
                height: 736px;
                max-height: 100%;
                max-width: 100%;
                left: 50%;
                right: auto;
            }
        }
        iframe {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto;
            border: 0px none;
            box-shadow: none;
            position: absolute;
        }
    }
    .cs-preview-bar {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        display: block;
        @include clearfix();
        padding: 18px;
        height: 60px;
        background: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        a {
            text-decoration: none;
            box-shadow: none !important;
        }
        font-size: 24px;
        .dashicons {
            width: 30px;
            text-align: center;
            display: inline-block;
            &:before{
                display: inline-block;
                text-align: center;
            }
        }
        .cs-preview-import {
            font-size: 14px;
            margin: 0px 0px 0px 10px;
            padding: 3px 10px;
            border: $boder;
            border-radius: 5px;
            float: left;
        }
        a {
            color: #333;
            &.current {
                color: #cccccc;
            }
        }
    }

    .cs-demo-name {
        float: left;
        font-weight: 600;
        line-height: 1;
    }
    .cs-view-ports, .cs-preview-close {
        float: right;
    }

    .cs-preview-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        z-index: 9999;
    }

    &.cs-iframe-loaded {
        .cs-preview-loading {
            z-index: -1;
            display: none;
        }
    }
}